body {
    margin: 60px auto;
    width: 70%;
    font-family:'Georgia', 'Serif';
}
nav ul, footer ul {
    font-family:'Georgia', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #e9e9e9;
}
a:hover {
    color: rgb(56, 81, 218);
}
h1 {
    font-size: 2em;
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
h2, h3 {
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
p, ul, ol, table {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #ffffff;
    font-family:'Georgia', 'Serif';
}
code {
    font-family: monospace;
    font-size: 0.875em;
    color: rgb(0, 255, 64);
}
footer {
    border-top: 1px solid #ffffff;
    font-size: .6em;
    font-family:'Georgia', 'Serif';
   /* position: fixed; */
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
.sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 160px;
    position: fixed;
    background-color:rgb(0, 0, 0);
    overflow: auto;
  }  
.sidebar a {
    padding: 16px;
    text-decoration: none;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #ffffff;
    font-family:'Georgia', 'Serif';
    display: block;
}
.sidebar a.active {
    color: white;
}
.sidenav a:hover:not(.active) {
    color: rgb(56, 81, 218);
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-height: 450px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
        font-size: 18px;
    }
    div.container {margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }