body {
    margin: 60px auto;
    width: 70%;
    font-family:'Georgia', 'Serif';
}
nav ul, footer ul {
    font-family:'Georgia', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #e9e9e9;
}
a:hover {
    color: rgb(86, 105, 161);
}
h1 {
    font-size: 3em;
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
h2, h3 {
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
p, ul, ol, table {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
    font-family:'Georgia', 'Serif';
}
footer {
    border-top: 1px solid #ffffff;
    font-size: .6em;
    font-family:'Georgia', 'Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
