body {
    margin: 60px auto;
    width: 70%;
    font-family:'Georgia', 'Serif';
}
nav ul, footer ul {
    font-family:'Georgia', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #e9e9e9;
}
a:hover {
    color: rgb(56, 81, 218);
}
h1 {
    font-size: 2em;
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
h2, h3 {
    font-family:'Georgia', 'Serif';
    color: #ffffff;
}
p, ul, ol, table {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #ffffff;
    font-family:'Georgia', 'Serif';
}
code {
    font-family: monospace;
    font-size: 0.875em;
    color: rgb(0, 255, 64);
}
footer {
    border-top: 1px solid #ffffff;
    font-size: .6em;
    font-family:'Georgia', 'Serif';
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
nav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}