/* CSS files add styling rules to your content */

body {
    font-family: Lato;
    margin-top:3em;
    background:#fafafa;
  }
  
  h1 {
    font-weight: 300;
  }
  
  img {
    height: 250px;
    width:250px;
    margin: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .grid {
    margin-left:200px;
    margin-bottom:100px;
  }
  
  #logo {
    height: 150px;
    width: 150px;
    margin-right:20px;
  }
  
  .profile {
      margin:50px 100px 50px 100px;
  }
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.auto-resize-portrait {
    height: 80px;
    width: 50px;
}   

.auto-resize-landscape {
    height: 30px;
    width: 80px;
}   

.auto-resize-square {
    height: 75px;
    width: 75px;
}

.auto-resize-big {
    width:150px;
    height:150px;
}

@media (max-width: 712px) {
  img {
      height:150px;
      width: 150px;
  }
}

