<!DOCTYPE html>
	<html>

		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/ico" href="https://66.media.tumblr.com/43ed161dbcf1f1de23ab392e82c88c90/89b22f21ac1e4327-60/s128x128u_c1/bf8b4368aeef8b167aa35cca1a31b28b4e5f120c.jpg" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body style="background-color:#ffffff;">

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/sps">SPS</a></li>
					<li><a href="/notes">Notes</a></li>
					<li><a href="/project">Project</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thaliajuarez">github.com/thaliajuarez</a></li>
				</ul>
			</footer>

		</body>
		
	</html>
