<!DOCTYPE html>
	<html>

		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/ico" href="https://static.tumblr.com/5ioe7a0/1oxm1h9lx/avatar-state-01.png" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body style="background-color:rgb(0, 0, 0);">
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<div class="container">
				<!-- Side navigation -->
				<div class="sidebar">
					<ul>
						<a href="/">Home</a>
						<a href="/about">About</a>
						<a href="/sps">SPS</a>
						<a href="/notes">Notes</a>
						<a href="/cv">CV</a>
					</ul>
				 </div>

			</div><!-- /.container -->

			<div class="content">

				{{ content }}

				<footer>
					<ul>
						<li><a href="mailto:thalia.juarez01@utrgv.edu">email</a></li>
						<li><a href="https://github.com/thaliajuarez">github.com/thaliajuarez</a></li>
					</ul>
				</footer>
				
			</div>

		</body>
		
	</html>
