<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/ico" href="https://static.tumblr.com/5ioe7a0/1oxm1h9lx/avatar-state-01.png" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- importing Bootstrap's stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300&display=swap"
      rel="stylesheet"
    />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>

  </head>
  <body class="container">

    <div class="row profile">

      <div class="col">

        <h1>
          @sps
        </h1>

        <ul>
            <li><a href="/sps/members">Members</a></li>
            <li><a href="/sps/outreach">Outreach</a></li>
            <li><a href="/sps/photos">Photos</a></li>
            <li><a href="/sps/demos">Demos</a></li>
        </ul>

        <button type="button" class="btn btn-primary">Follow</button>

    </div>

    </div>

    {{ content }}

    <div class="grid">

      <div class="row">
   
      </div>

    </div>

  </body>
</html>