<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/ico" href="https://static.tumblr.com/5ioe7a0/1oxm1h9lx/avatar-state-01.png" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- importing Bootstrap's stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300&display=swap"
      rel="stylesheet"
    />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>

  </head>
  <body class="container">

    <div class="row profile">

      <div class="col">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/sps">@sps</a>

              <ul class="navbar-nav mr-auto mt-2 mt-md-0">

                <li class="nav-item active">
                  <a class="nav-link" href="/sps/members">Members <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/sps/outreach">Outreach <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/sps/photos">Photos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/sps/demos">Demos <span class="sr-only">(current)</span></a>
                </li>
                
              </ul>
          </nav>
      </div>
    </div>

    {{ content }}

    <div class="grid">

      <div class="row">
   
      </div>

    </div>

  </body>
</html>