<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google DSC at UTRGV</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- importing Bootstrap's stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300&display=swap"
      rel="stylesheet"
    />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body class="container">
    <div class="row profile">
      <img
        id="logo"
        src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fdsc-logo.png?v=1586379511200"
      />
      <div class="col">
        <h1>
          @dscutrgv
        </h1>
        <p>
          DSC-UTRGV is a program powered by @googledevs for university students
          to expand their technical skills and solve problems in their
          community.
        </p>
        <button type="button" class="btn btn-primary">Follow</button>
      </div>
    </div>
    <div class="grid">
      <div class="row">
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-1.png?v=1586370157854"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-6.png?v=1586370192402"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-3.png?v=1586370174113"
        />
      </div>
      <div class="row">
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-5.png?v=1586370182741"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-4.png?v=1586370177888"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-7.png?v=1586370199446"
        />
      </div>
      <div class="row">
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-8.png?v=1586370202250"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-9.png?v=1586370207591"
        />
        <img
          src="https://cdn.glitch.com/4fd47036-8047-4055-8e09-6db77f323e5d%2Fgrid-2.png?v=1586370169859"
        />
      </div>
    </div>
  </body>
</html>